@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-gradient-start: rgb(159, 35, 14);
    --bg-gradient-end: rgb(0, 0, 0);
}

body {
    background: url('/background-blur.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    overscroll-behavior: none;
}

main > div {
    background-image: linear-gradient(
        var(--bg-gradient-start),
        var(--bg-gradient-end)
    );
}

.fadeIn {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.slideInFromRight {
    animation: slideInFromRight 2s;
}
@keyframes slideInFromRight {
    0% {
        margin-left: var(--xs-margin);
    }
    100% {
        margin-left: 0;
    }
}

.slideInFromLeft {
    animation: slideInFromLeft 2s;
}
@keyframes slideInFromLeft {
    0% {
        margin-right: var(--xs-margin);
    }
    100% {
        margin-right: 0;
    }
}

.slideOutFromRight {
    margin-right: var(--xs-margin);
    animation: slideOutFromRight 2s;
}
@keyframes slideOutFromRight {
    0% {
        margin-right: 0;
    }
    100% {
        margin-right: var(--xs-margin);
        display: none;
    }
}

.slideOutFromLeft {
    margin-left: var(--xs-margin);
    animation: slideOutFromLeft 2s;
}
@keyframes slideOutFromLeft {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: var(--xs-margin);
        display: none;
    }
}

#avatar-irl.fadeInOut {
    opacity: 0;
    animation-duration: 10s;
    animation-name: avatarFadeInOut;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.2, 1.01, .2, 1.01);
    animation-delay: 3s;
}

@keyframes avatarFadeInOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}